*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #171C28;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #2488ec;
        display: flex;
    justify-content: space-between;
    z-index: 100;
    border-radius: 0 0 10px 10px;
}

.logo{
    font-size: 25px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    font-family: "Lucida Handwriting";
}

.navbar a{
    font-size: 18px;
    color: rgba(240, 248, 255, 0.603);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #171C28;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    border: 10px;
}

.about h1{
    text-align: center;
    color:#2488ec ;
    font-size: 50px;
}

.about p{
    text-align: center;
    font-size: 18px;
}

.edu{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    border: 10px;
}

.edu h1{
    text-align: center;
    color:#2488ec ;
    font-size: 50px;
}

.skills{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    border: 10px;
}

.skills h1{
    text-align: center;
    color:#2488ec ;
    font-size: 50px;
}